body{
    background-color: black;
    color: white;
  
}
.outer{
  background-image: url("./assets//hero_banner.jpg");
  background-repeat: no-repeat;
  width:100%;
  background-size: cover;
  height:100vh;
  opacity: 0.7;
}
  

.navbar{
  
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.logo{
    height:40px;
    padding:20px;
}
.nav-right{
    display: flex;
    align-items: center;
    justify-content: center;
}
ul{
    display:flex;
    list-style: none;
}
ul li{
 padding: 15px;
}

.nav-left{
   display: flex;
   justify-content: center;
   align-items: center;
   padding:20px;
}
.nav-left>div{
    padding: 10px;
}
.nav-left span{
     padding:20px;
}

/* herosection */
.herosection{
    height:85vh;
    position: relative;
}
.hero-title{
    position: absolute;
    top:50px;
    margin: 30px;
   
}
.hero-text{
    max-width: 500px;
}
.hero-btn{
    padding: 10px;
    width:150px;
    font-size: 20px;
    border-radius:2px;
    cursor: pointer;
    border:1px solid rgb(104, 103, 103)

}
.fade{
    background-color:transparent;
}
.hero-btn:hover{
    background-color:white
}

/* nextwatch */
.next-watch{
    max-width:100%;
     display: flex;
    gap:10px;
     
}
.next-watch img{
    width:210px;
    height:200px;
    overflow: hidden;
    transform: scale(0.8);
    transition: transform 0.3s ease;
    cursor: pointer;
}
.next-watch img:hover{
    transform: scale(0.5);
    transition:transform 0.6s ease;
}
p{
    font-size: 20px;
    padding: 10px;
}

/* footer */
.footer-box{
    height:300px;
    width:80%;
    margin: auto;
    padding:10px;
    margin-top:50px;
    cursor: pointer;
}
.footer-box img{
     height:25px;
     width:25px;
     padding:5px;
}
.footer-text{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    color:rgb(63, 68, 72)
   
}
.footer-text div>p{
    line-height:0px;
    font-size: 16px;
    
}
.footer-box button{
    background-color: transparent;
    color:rgb(63, 68, 72);
    border: 1px solid rgb(176, 169, 169);
    padding:5px;
}
.footer-text div>p:hover{
    color:white
}